 <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container-fluid">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <h4>
                    Sayt Xəritəsi
                </h4>
                <p>
                    <a href="/MyEvernoteHome/About" class="footerMapLinks text-white text-decoration-none">Haqqimizda</a><br />
                    <a href="/MyEvernoteHome/Contact" class="footerMapLinks text-white text-decoration-none">Elaqe</a><br />
                    <a href="/MyEvernoteHome/Index" class="footerMapLinks text-white text-decoration-none">Son Yuklenilenler</a><br />
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    My Evernote
                </h4>
                <p>
                    &reg; Bütün Hüquqlar Qorunur - Bakı @DateTime.Now.Year
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    Sürətli Qeydiyyat
                </h4>
                <form method="post">
                    <div class="form-group ml-3">
                        <small>
                            Semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel.
                        </small>
                        <div class="input-group mb-3 mt-2">
                            <input type="text" class="form-control" id="quickRegisterEmail" placeholder="example@email.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="registerQuick" type="button"><i class="fas fa-paper-plane"></i> Göndər</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="alertQuickly">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="alertText">
                                    Registered! Please Check Your Email, and confirm!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#alertQuickly").hide();
        });

        $("#registerQuick").click(function (e) {
            let email = $("#quickRegisterEmail").val();

            $.ajax({
                url: "/MyEvernoteHome/QuicklyRegistrate?email=" + email,
                method: "POST"
            }).done(function (data) {
                alertQuickly(data);
            }).fail(function () {
                alert("Something Went Wrong!");
            })
        });

        function alertQuickly(data) {

            let alertTextItem = document.querySelector("#alertText");

            alertTextItem.textContent = data.message;

            if (data.status == 0) {
                $("#alertText").attr("class", "alert alert-danger");
            } else {
                $("#alertText").attr("class", "alert alert-info");
            }

            $("#alertQuickly").show(500);

            setTimeout(function () {
                $("#alertQuickly").hide(500, function () {
                    $("#alertText").removeAttr("class");
                });
            }, 6500);
        }
        
    </script>

    <!-- /.container -->
</footer>


