 <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container-fluid">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <h4>
                    Sayt Xəritəsi
                </h4>
                <p>
                    <a href="/MyEvernoteHome/About" class="footerMapLinks text-white text-decoration-none">Haqqimizda</a><br />
                    <a href="/MyEvernoteHome/Contact" class="footerMapLinks text-white text-decoration-none">Elaqe</a><br />
                    <a href="/MyEvernoteHome/Index" class="footerMapLinks text-white text-decoration-none">Son Yuklenilenler</a><br />
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    My Evernote
                </h4>
                <p>
                    &reg; Bütün Hüquqlar Qorunur - Bakı @DateTime.Now.Year
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    Sürətli Qeydiyyat
                </h4>
                <form method="post">
                    <div class="form-group ml-3">
                        <small>
                            Semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel.
                        </small>
                        <div class="input-group mb-3 mt-2">
                            <input type="text" class="form-control" placeholder="example@email.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fas fa-paper-plane"></i> Göndər</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- /.container -->
</footer>


