
@{
    ViewBag.Title = "ForgotPassword";
}



    <div class="col-12">
        <h2 class="text-center">Sifreni Unutdum Bolmesi</h2>
    </div>
    <div class="col-12">
        <form action="/MyEvernoteHome/ForgotPassword" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-3" for="usernameEmail">Istifadeci Adi Ve Ya E-mail</label>
                <div class="col-md-9">
                    <input type="text" id="usernameEmail" class="form-control" name="turnedValue" placeholder="Istifadeci Adi ~ E-mail" value="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fas fa-paper-plane-o"></i> Gonder
                    </button>
                    <a href="/MyEvernoteHome/Login" class="btn btn-outline-dark">Geri Don</a>
                </div>
            </div>
        </form>
    </div>


